---
layout: default
---

<h2>HTB rozbory strojů</h2>

<p>Hlavní seznam rozborů strojů z Hack The Box. Výukové a obecnější texty o technikách a zranitelnostech jsou odděleně v rubrice <a href="/techniky/">Techniky</a>.</p>

<ul>
    {% for post in paginator.posts %}
      <li>
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p>{{ post.content | strip_html | truncatewords:30 }}</p>
      </li>
    {% endfor %}
</ul>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Předchozí</a>
  {% endif %}
  <span class="page_number ">
    {{ paginator.page }} / {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Další</a>
  {% endif %}
</div>
